.circle{
    display: inline-block;
    border: 2px solid black;
    margin: 5px;
    border-radius: 50%;
}

form{
    margin-top: 35px;
    margin-bottom: 20px;
    margin-left: 115px;
}

.divs {
    display: grid;
    grid-template:repeat(10,50px)/repeat(10,50px) ;
    margin-left: 70px;
    margin-top: 20px;
    height: 485px;
}

.btn {
    background-image: linear-gradient(to right, #ff6e7f 0%, #bfe9ff  51%, #ff6e7f  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px rgb(226, 172, 172);
    border-radius: 25px;
    border: hidden;
    display: block;
    font-weight: 900;
    font-size: xx-large;
 }

.btn:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
 }

.btn:active {
    transform: scale(0.95);
  }
  
.btn:focus {
    outline: 0;
  }