.div1 {
    width: 500px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: 200px;
    background-color: aliceblue;
}
.inputs {
    border: 3px solid grey;
    width: 330px;
    height: 35px;
    background-color: azure;
    box-shadow: 0 0 10px grey;
    font-size: 1.5rem;
}
.button {
    border: 3px solid grey;
    width: 300px;
    height: 40px;
    background-color: blanchedalmond;
    box-shadow: 0 0 10px grey;
    font-size: 1.5rem;
    font-weight: bolder;
}
