@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Nosifer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');

body {
    display: flex;    
    justify-content: center;
    background-image: url('../img/gray-wall-in-an-empty-room-with-a-wooden-floor.jpg');
    background-repeat: round;
    position: relative;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: Girassol;
    font-size: 45px;
    font-weight: bolder;
    color: #424242;
    margin: 0; 
    height: 63px;
    width: 335px;     
}

h1 div {
    position: relative;  
}

h2 {
    font-family: Girassol;
    font-size: 45px;
    font-weight: bolder;
    color: #424242;
    margin: 0;
    position: relative;
    height: 63px;
    width: 335px;
    display: none;      
}

h2 div {
    position: relative;
    display: inline-block;  
}

/*** Анимация для h2 ***/
h1 div:nth-of-type(2) {
	animation-delay: .05s;
}
h1 div:nth-of-type(3) {
	animation-delay: .1s;
}
h1 div:nth-of-type(4) {
	animation-delay: .15s;
}
h1 div:nth-of-type(5) {
	animation-delay: .2s;
}
h1 div:nth-of-type(6) {
	animation-delay: .25s;
}
h1 div:nth-of-type(7) {
	animation-delay: .3s;
}
h1 div:nth-of-type(8) {
	animation-delay: .35s;
}
h1 div:nth-of-type(9) {
	animation-delay: .4s;
}
h1 div:nth-of-type(10) {
	animation-delay: .45s;
}
h1 div:nth-of-type(11) {
	animation-delay: .5s;
}

h1 div {
    display: inline-block;
	opacity: 0;
	transform: translate(-150px, 0) scale(.3);
	animation: leftRight .5s forwards;
}


@keyframes leftRight {
	40% {
		transform: translate(50px, 0) scale(.7);
		opacity: 1;
		color: #348c04;
	}

	60% {
		color: #0f40ba;
	}

	80% {
		transform: translate(0) scale(2);
		opacity: 0;
	}

	100% {
		transform: translate(0) scale(1);
		opacity: 1;
	}
}
/*- - - - - - - - - - -Конец блока - - - - - - - - - - - - */

/*** Стиль блока с данными и кнопкой ***/
header {
    height: 100px;
    width: 396px;
    border: 11px solid #E0E0E0;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E0E0E0;
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
}

/*** Стиль для поля с ячейками ***/
section {
    display: grid;
    grid-template-columns: repeat(8, 50px);
    background-color: white;
    border: 10px solid #E0E0E0;
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
}

/*** Блок стилей для кнопки в зависимости от события ***/
.btn {
    height: 50%;
    width: 15%;
    background-image: url('../img/start.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    box-shadow: inset rgb(0 0 0 / 50%) -3px -3px 8px, inset rgb(255 255 255 / 90%) 3px 3px 8px, rgb(0 0 0 / 80%) 3px 3px 8px -3px;
    margin: 1em auto;
    border: 3px solid #BDBDBD;
    border-radius: 10px;
}
.btn:active {
    transform: scale(0.95);
  }

.btn:focus {
    outline: 0;
  } 

.btnGameOver {
    height: 50%;
    width: 15%;
    background-image: url('../img/gameover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    box-shadow: inset rgb(0 0 0 / 50%) -3px -3px 8px, inset rgb(255 255 255 / 90%) 3px 3px 8px, rgb(0 0 0 / 80%) 3px 3px 8px -3px;
    margin: 1em auto;
    border-radius: 10px;
    z-index: 1;
}
.btnGameOver:active {
    transform: scale(0.95);
  }

.btnGameOver:focus {
    outline: 0;
  }

.btnWin {
    height: 50%;
    width: 15%;
    background-image: url('../img/win.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    box-shadow: inset rgb(0 0 0 / 50%) -3px -3px 8px, inset rgb(255 255 255 / 90%) 3px 3px 8px, rgb(0 0 0 / 80%) 3px 3px 8px -3px;
    margin: 1em auto;
    border-radius: 10px;
}
.btnWin:active {
    transform: scale(0.95);
  }

.btnWin:focus {
    outline: 0;
  }  
/*- - - - - - - - - - -Конец блока - - - - - - - - - - - - */

/*** Блок стилей для для эелементов которые отвечают конец игры или победа ***/
.end {
    font-size: xxx-large;
    font-family: Nosifer;
    font-weight: bolder;
    margin: 20px;
    opacity: 0;
    background: linear-gradient(180deg, #212121 33%, #424242 40%, #E53935);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}  

.win {
    font-size: 0;
    font-family: Frijole;
    margin: 45px 0 0;
    height: 65px;  
    width: 415px;
    text-align: center;  
}
/*- - - - - - - - - - -Конец блока - - - - - - - - - - - - */

/*** Блок стилей для счётчика флагов и таймера ***/
.countBomb, .time {
    height: 50%;
    width: 20%;
    box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
    border: 3px solid #BDBDBD;
    margin-left: 20px;
    text-align: center;
    background-color: #616161;
    color: #FF2;
    font-size: 2.5rem;
    font-family: 'Girasol';
}

.time {
    margin: 0 20px 0 0;
}
/*- - - - - - - - - - -Конец блока - - - - - - - - - - - - */

/*** Стиля ячеек когда они закрыты ***/
.cell {
    background-image: url('../img/closed.png');
    background-repeat: no-repeat;
    height: 50px;
}

/*** Блок стилей, в зависимости от события, которые определяют вид ячейки(цыфры, бомбы, флаги ) ***/
.bombed {
    background-image: url('../img/bombed.png');
    background-repeat: no-repeat;
    height: 50px;
}

.bomb {
    background-image: url('../img/bomb.png');
    background-repeat: no-repeat;
    height: 50px;
}

.zero {
    background-image: url('../img/zero.png');
    background-repeat: no-repeat;
    height: 50px;
}

.one {
    background-image: url('../img/num1.png');
    background-repeat: no-repeat;
    height: 50px;
}
.two {
    background-image: url('../img/num2.png');
    background-repeat: no-repeat;
    height: 50px;
}

.three {
    background-image: url('../img/num3.png');
    background-repeat: no-repeat;
    height: 50px;
}

.four {
    background-image: url('../img/num4.png');
    background-repeat: no-repeat;
    height: 50px;
}

.five {
    background-image: url('../img/num5.png');
    background-repeat: no-repeat;
    height: 50px;
}

.six {
    background-image: url('../img/num6.png');
    background-repeat: no-repeat;
    height: 50px;
}

.seven {
    background-image: url('../img/num7.png');
    background-repeat: no-repeat;
    height: 50px;
}

.eight {
    background-image: url('../img/num8.png');
    background-repeat: no-repeat;
    height: 50px;
}

.flaged {
    background-image: url('../img/flaged.png');
    background-repeat: no-repeat;
    height: 50px;
}
/*- - - - - - - - - - -Конец блока - - - - - - - - - - - - */

/*** Стили для анимации тумана ****/

.fog__container {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: none;
  }
  .fog__img {
    position: absolute;
    height: 100vh;
    width: 300vw;
  }
  .fog__img--first {
    background: url("../img/fog-1.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 60s linear infinite;
    animation: marquee 60s linear infinite;
  }
  .fog__img--second {
    background: url("../img/fog-2.png") repeat-x;
    background-size: contain;
    background-position: center;
    -webkit-animation: marquee 40s linear infinite;
    animation: marquee 40s linear infinite;
  }
  
  @keyframes marquee {
    0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    }
    100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
    transform: translate3d(-200vw, 0, 0);
    }
  }
  /*- - - - - - - - - - -Конец блока - - - - - - - - - - - - */

  /*** Анимация для "M i n e s w i p p e r" ***/
  .blur { 
    animation: blur .75s ease-out infinite;
    text-shadow: 0px 0px 5px #424242, 0px 0px 7px #E53935;
  }
  
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #424242, 
        0px 0px 25px #424242,
        0px 0px 25px #424242,
        0px 0px 25px #424242,
        0px 0px 25px #424242,
        0px 0px 25px #424242,
        0px 0px 25px #424242,
        0px 0px 50px #424242,
        0px 0px 50px #424242,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #E53935,
        0px 10px 100px #E53935,
        0px -10px 100px #E53935,
        0px -10px 100px #E53935;
    }
  }