p {
    width: 1000px;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 35px;
    background-color:salmon;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 5px;  
    cursor: pointer;  
};

