.div1 {
    width: 500px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 50px;
    margin-left: 200px;
}
.div2 {
    border: none;
    height: 100px;
    margin-top: 0;
}
 .img1 {
     width: 100%;
     height: 100%;
 }
 .inputs {
     width: 230px;
     height: 45px;
     background-color: chartreuse;
     font-family: 'cursive';
     font-size: 18px;
     font-weight: bolder;
     box-shadow: 0 0 10px grey;
 }