.divs {
    width: 200px;
    height: 200px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 55px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 10px;
    float: left;
}